.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 80px 953px 0 45px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 45px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: -24px auto 0 45px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 85px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 44px auto 0 85px;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: -24px 0 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 45px 85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 798px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 578px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 198px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 405px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 656px 0 45px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 45px 0 0 auto;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  margin: -24px auto 0 45px;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 85px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: -24px 0 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 85px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: -24px 0 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 60px 85px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 501px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 850px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 656px 0 45px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 45px auto 0 45px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 44px auto 0 85px;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 44px auto 0 85px;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-3 .u-text-10 {
  margin: 44px 0 0 85px;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-3 .u-text-13 {
  margin: 44px 0 45px 85px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -48px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 190px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 416px 0 45px;
}

.u-section-4 .u-text-2 {
  margin: 27px 838px 60px 85px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 261px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 723px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 123px;
  }
}