.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-image-1 {
  width: 399px;
  height: 529px;
  margin: 46px 43px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -512px 654px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 654px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 654px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 654px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-image-1 {
    height: 530px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -513px;
    margin-right: 512px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 234px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 452px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}