.u-section-1 .u-sheet-1 {
  min-height: 433px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  margin: 45px auto 0 49px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 44px 0 0 85px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0 49px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: -48px 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 44px 0 60px 85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 63px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 236px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -72px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: 241px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 69px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
    margin-right: 146px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-6 {
    margin: 93px 15px 60px 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 93px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 45px;
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -119px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 117px;
    margin-left: 0;
    margin-right: 0;
  }
}