.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  margin: 45px auto 0 45px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: -24px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 60px 85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}